.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__name {
    margin: 10px 0;
    color: $tuatara;
  }

  &__piece {
    margin-bottom: 10px;
    color: $tuatara;
  }

  .items {
    display: flex;
    align-items: center;

    &__control,
    &__current {
      @include flex-center;
      width: 30px;
      height: 30px;
      margin-right: -1px;
      color: $tuatara;
      background-color: lighten($text-light, 10%);
      border: $border-dark;
      box-shadow: inset 0 0 5px rgba($black, 0.5);
    }

    &__control {
      cursor: pointer;

      &:hover {
        background-color: darken($text-light, 10%);
      }
    }
  }

  & .price {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-top: 10px;
    color: $tuatara;
    font-size: rem(14);
  }

  &__add-cart {
    margin-top: 10px;
  }
}
