<div class="modal cart-modal animate" data-target="form-cart">
  <div class="modal-close-btn"></div>
  <div class="cart-modal__content">

    <div class="cart-modal__desc">Košík</div>

    <div class="cart-modal__wrapper">

      <div class="cart-modal__wrapper-empty hide">
        <span>
          <svg class="cart-empty-icon">
            <use xlink:href="images/sprites/sprite-mono.svg#cart-smile"></use>
          </svg>
        </span>
        <p>Váš nákupní košík je momentálně prázdný.</p>
      </div>

      <div class="cart__cards">

        <div class="card-item" data-id="01">

          <img class="card-item__img" src="images/bg/bg-1.jpg" alt="">

          <div class="card-item__name">Name 01</div>

          <div class="card-item__weight">1 Ks / 850 g</div>

          <div class="items items-small counter-wrapper">
            <div class="items__control" data-action-counter="minus">-</div>
            <div class="items__current" data-counter>1</div>
            <div class="items__control" data-action-counter="plus">+</div>
          </div>

          <div class="price">
            <div class="price__currency">250 Kč</div>
          </div>

        </div>

      </div>

    </div>

    <div class="cart-total">
      <p><span>Dodání:</span> <span class="delivery-cost free">je zdarma</span> </p>
      <p><span>Celkem:</span> <span class="total-price">330</span> <span class="corune">Kč</span></p>
    </div>

  </div>
</div>
