<main class="main">
  <div class="main__wrap wrap">
    <div class="main__container container">

      <div class="cards__wrapper">

        <div class="card" data-id="01">

          <img class="card__img" src="images/bg/bg-1.jpg" alt="">

          <h4 class="card__name">Name 01</h4>
          <p data-items-in-box class="card__piece">1 Ks</p>

          <div class="items counter-wrapper">
            <div class="items__control" data-action-counter="minus">-</div>
            <div class="items__current" data-counter>1</div>
            <div class="items__control" data-action-counter="plus">+</div>
          </div>

          <div class="price">
            <div class="price__weight">850 g</div>
            <div class="price__currency">170 kč</div>
          </div>

          <button data-add-cart type="button" class="card__add-cart">+ cart</button>

        </div>

        <div class="card" data-id="02">

          <img class="card__img" src="images/bg/bg-2.jpg" alt="">

          <h4 class="card__name">Name 01</h4>
          <p data-items-in-box class="card__piece">1 Ks</p>

          <div class="items counter-wrapper">
            <div class="items__control" data-action-counter="minus">-</div>
            <div class="items__current" data-counter>1</div>
            <div class="items__control" data-action-counter="plus">+</div>
          </div>

          <div class="price">
            <div class="price__weight">850 g</div>
            <div class="price__currency">200 kč</div>
          </div>

          <button data-add-cart type="button" class="card__add-cart">+ cart</button>

        </div>

        <div class="card" data-id="03">

          <img class="card__img" src="images/bg/bg-3.jpg" alt="">

          <h4 class="card__name">Name 01</h4>
          <p data-items-in-box class="card__piece">1 Ks</p>

          <div class="items counter-wrapper">
            <div class="items__control" data-action-counter="minus">-</div>
            <div class="items__current" data-counter>1</div>
            <div class="items__control" data-action-counter="plus">+</div>
          </div>

          <div class="price">
            <div class="price__weight">850 g</div>
            <div class="price__currency">220 kč</div>
          </div>

          <button data-add-cart type="button" class="card__add-cart">+ cart</button>

        </div>

        <div class="card" data-id="04">

          <img class="card__img" src="images/bg/bg-4.jpg" alt="">

          <h4 class="card__name">Name 01</h4>
          <p data-items-in-box class="card__piece">1 Ks</p>

          <div class="items counter-wrapper">
            <div class="items__control" data-action-counter="minus">-</div>
            <div class="items__current" data-counter>1</div>
            <div class="items__control" data-action-counter="plus">+</div>
          </div>

          <div class="price">
            <div class="price__weight">850 g</div>
            <div class="price__currency">170 kč</div>
          </div>

          <button data-add-cart type="button" class="card__add-cart">+ cart</button>

        </div>

      </div>

    </div>
  </div>
</main>
